<!-- JAVASCRIPT  FILES ========================================= --> 
<script src="js/6089-js-jquery-1.12.4.min.js"></script>
<!-- JQUERY.MIN JS -->
<script src="js/7019-js-bootstrap.min.js"></script>
<!-- BOOTSTRAP.MIN JS -->
<script src="js/3553-js-magnific-popup.min.js"></script>
<!-- MAGNIFIC-POPUP JS -->
<script src="js/5222-js-waypoints.min.js"></script>
<!-- WAYPOINTS JS -->
<script src="js/7533-js-counterup.min.js"></script>
<!-- COUNTERUP JS -->
<script src="js/1105-js-waypoints-sticky.min.js"></script>
<!-- COUNTERUP JS -->
<script src="js/8356-js-isotope.pkgd.min.js"></script>
<!-- MASONRY  -->
<script src="js/8045-js-owl.carousel.min.js"></script>
<!-- OWL  SLIDER  -->
<script src="js/4421-js-jquery.owl-filter.js"></script>
<script src="js/5032-js-stellar.min.js"></script>
<!-- PARALLAX BG IMAGE   -->
<script src="js/1518-js-custom.js"></script>
<!-- CUSTOM FUCTIONS  -->
<script src="js/6437-js-shortcode.js"></script>
<!-- SHORTCODE FUCTIONS  -->
<script src="js/8504-js-jquery.bgscroll.js"></script>
<!-- BACKGROUND SCROLL -->
<script src="js/2371-js-switcher.js"></script>
<!-- SWITCHER FUCTIONS  -->
<!-- REVOLUTION JS FILES -->
<script src="js/js-jquery.themepunch.tools.min.js"></script>
<script src="js/js-jquery.themepunch.revolution.min.js"></script>
<!-- SLIDER REVOLUTION 5.0 EXTENSIONS  (Load Extensions only on Local File Systems !  The following part can be removed on Server for On Demand Loading) -->
<script src="js/extensions-revolution-plugin.js"></script>
<!-- REVOLUTION SLIDER SCRIPT FILES -->
<script src="js/2589-js-rev-script-1.js"></script>