<div style="
  padding: 2rem;
  margin-bottom: 2rem;
  background-color: #F5BF23;
  border-radius: .25rem;
">
  <h4 style="color: white;">
    <strong>Service Info</strong>
  </h4>
  <div class="col-sm-row-lg" style="justify-content: space-between;">
    <div style="
      flex: 0 1 32%;
      padding: 1rem;
      min-height: 2rem;
      margin-bottom: 1rem;
      background-color: white;
      border-radius: .25rem;
    ">
      Price:<br>
      <strong>&pound; 300 for Single, &pound; 750 for Double</strong>
    </div>
    <div style="
      flex: 0 1 32%;
      padding: 1rem;
      min-height: 2rem;
      margin-bottom: 1rem;
      background-color: white;
      border-radius: .25rem;
    ">
      Cleaning Hours:<br>
      <strong>1 - 3 Hours</strong>
    </div>
    <div style="
      flex: 0 1 32%;
      padding: 1rem;
      min-height: 2rem;
      margin-bottom: 1rem;
      background-color: white;
      border-radius: .25rem;
    ">
      Number of Cleaners:<br>
      <strong>1 - 2 Cleaners</strong>
    </div>
  </div>
  <div class="col-sm-row-lg" style="justify-content: space-between;">
    <div style="
      flex: 0 1 32%;
      padding: 1rem;
      min-height: 2rem;
      margin-bottom: 1rem;
      background-color: white;
      border-radius: .25rem;
    ">
      Visiting Hours:<br>
      <strong>Mon - Sat, 8 AM - 7 PM</strong>
    </div>
    <div style="
      flex: 0 1 32%;
      padding: 1rem;
      min-height: 2rem;
      margin-bottom: 1rem;
      background-color: white;
      border-radius: .25rem;
    ">
      Contact:<br>
      <strong>{{ site.phone }}</strong>
    </div>
    <div style="
      flex: 0 1 32%;
      padding: 1rem;
      min-height: 2rem;
      margin-bottom: 1rem;
      background-color: white;
      border-radius: .25rem;
    ">
      Email:<br>
      <strong>appylead@gmail.com</strong>
    </div>
  </div>
</div>