<div id="map" style="margin-top: 2rem;">
  {% assign map = page.Town | replace: " ", "+" %}
  <iframe
    width="100%"
    height="250"
    frameborder="0" style="border:0"
    src="https://www.google.com/maps/embed/v1/place?key=AIzaSyDtzdxM8kJdhxVyUnGdzlC8_7ZytF79ppY&q=lungern" 
    allowfullscreen>
  </iframe>

  <h5 id="city-title-1" style="margin: 1rem 0;">City Name</h6>
  <p id="city-description-1">
    City Description
  </p>
  
  <script>
    var request = new XMLHttpRequest();
    request.open('GET', 'https://en.wikipedia.org/w/api.php?action=query&prop=extracts&exintro&explaintext&format=json&redirects&titles=lungern' + '&origin=*', true);

    request.onload = function() {
      if (this.status >= 200 && this.status < 400) {

        // Success!
        var data = JSON.parse(this.response);

        let x = data.query.pages;
        let y = Object.values(x);
        let z = y["0"].extract;
        let a = document.getElementById('city-title-1');
        let b = document.getElementById('city-description-1');
        let c = y["0"].title;
        let d = y["0"].extract;

        a.innerHTML = c;
        b.innerHTML = d;

      } else {
        // We reached our target server, but it returned an error

      }
    };

    request.onerror = function() {
      // There was a connection error of some sort
    };

    request.send();
  </script>
</div>